{{ ansible_managed | comment }}

# The statement between the begin and end comments define a SINGLE forwarding
# rule. They belong together, do NOT split them. If you create multiple
# forwarding rules, duplicate the whole block!

# An on-disk queue is created for these actions. If the remote host is
# down, messages are spooled to disk and sent when it is up again.

{% if rsyslog_config_file_format == 'legacy' %}
# Example
# *.* @@logging.server.net:514

### begin forwarding rule ###
# Uncomment the lines below if you wish to configure further.
#$ActionQueueFileName fwdRule1 # unique name prefix for spool files
#$ActionQueueMaxDiskSpace 1g   # 1gb space limit (use as much as possible)
#$ActionQueueSaveOnShutdown on # save messages to disk on shutdown
#$ActionQueueType LinkedList   # run asynchronously
#$ActionResumeRetryCount -1    # infinite retries if host is down
{% for remote in rsyslog_remotes %}
{{ remote.selector }} {{ '@@' if remote.protocol is defined and remote.protocol == 'tcp' else '@' }}{{ remote.hostname }}{{ ':' if remote.port is defined }}{{ remote.port | default(":514") }}
{% endfor %}
### end forwarding rule ###
{% endif %}

{% if rsyslog_config_file_format == 'advanced' %}
# Example
# *.* action(type="omfwd" Target="logging.server.net" Port="514" Protocol="tcp")

### begin forwarding rule ###
# Uncomment the lines below if you wish to configure further.
#queue.filename="fwdRule1"       # unique name prefix for spool files
#queue.maxdiskspace="1g"         # 1gb space limit (use as much as possible)
#queue.saveonshutdown="on"       # save messages to disk on shutdown
#queue.type="LinkedList"         # run asynchronously
#action.resumeRetryCount="-1"    # infinite retries if host is down
{% for remote in rsyslog_remotes %}
{{ remote.selector }} action(type="omfwd" Target="{{ remote.hostname }}" Port="{{ remote.port | default(514) }}" Protocol="{{ remote.protocol | default('tcp') }}"
{%- if remote.template is defined %}
 Template="{{ remote.template }}"
{%- endif %}
 KeepAlive="on")
{% endfor %}
### end forwarding rule ###
{% endif %}
